:root {
	--primary1: #00014d;
	--primary2: #003085;
}

body {
	margin: 0;
	font-family: 'Lato', sans-serif;
	font-size: 14px;
	line-height: 1.5;
	color: #333;
}

@media (min-width: 400px) {
	body {
		font-size: 16px;
	}
}

a {
	color: inherit;
}

@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro&display=swap');

code {
	font-family: "Source Code Pro", monospace;
	font-size: calc(1em - 2px);
	color: #555;
	background-color: #f0f0f0;
	padding: 0.2em 0.4em;
	border-radius: 2px;
}

/*Features*/
.feature-container {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
	padding: 2rem 0;
}

.feature-container .glide {
	width: 26rem;
	max-width: 32rem;
	flex-grow: 1;
	margin: 0 1rem;
}

.feature-container img {
	width: 100%;
	border-radius: .5rem;
}

.feature-container .description {
	width: 26rem;
	max-width: 32rem;
	flex-grow: 2;
	margin: 0 1rem;
}